    <section id="footer_section">
        <div class="container-fluid text-center bg-dark text-white">
            <div class="row">
                <div class="col-md-12">
                  <p class="mt-4">2023   @Copy_right <span><a href="#">shaharyar54@gmail.com</a></span></p>
                </div>
            </div>
        </div>
    </section>